<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/templates/css/register.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/global.css">
</head>

<body>
    <form class="container" action="/auth/register" method="POST">
        <div class="container-form">
            <div class="avatar">

            </div>
            <div class="informations">
                <header>Novo Usuário</header>
                <input type="hidden" name="tipo" value="<%=tipo%>">
                <main>
                    <fieldset class='float-label-field'>
                        <label for="name">Nome</label>
                        <input id="name" class='campo-texto' required name="name" type='text'>
                    </fieldset>
                    <fieldset class='float-label-field'>
                        <label for="email">E-mail</label>
                        <input id="email" class='campo-texto' required name="email" type='email'>
                    </fieldset>
                    <fieldset class='float-label-field'>
                        <label for="celular">Celular</label>
                        <input id="celular" class='campo-texto' required name="celular" type='celular'>
                    </fieldset>
                    <fieldset class='float-label-field'>
                        <label for="password">Senha</label>
                        <input id="password" class='campo-texto' required name="password" type='password'>
                    </fieldset>
                </main>
                <footer>
                    <button type="submit" onclick="getModel();" class="register">Registrar</button>
                </footer>
            </div>
        </div>
    </form>
    <script>
        let fields = document.querySelectorAll('form fieldset.float-label-field');
        for (let index = 0; index < fields.length; index++) {
            const field = fields[index];
            const input = field.querySelector('input');
            input.onfocus = () => {
                field.classList.add('float');
                field.classList.add('focus');
            };
            input.onblur = () => {
                field.classList.remove('focus');
                if (!input.value) {
                    field.classList.remove('float');
                }
            };
        }

        function getModel() {
            let model = {};
            let inputs = document.querySelectorAll('input.campo-texto');
            addProprietie(inputs, model);
            let selects = document.querySelectorAll('select');
            addProprietie(selects, model);
            console.log(model);
        }

        function addProprietie(objetos, model) {
            for (let index = 0; index < objetos.length; index++) {
                const objeto = objetos[index];
                validate(objeto);
                model[objeto.getAttribute('name')] = objeto.value;
            }
        }

        function validate(input) {
            if (input.hasAttribute('required') && input.value == "") {
                input.style.borderColor = 'red';
                console.log(`label[for=${input.getAttribute('name')}]`);
                let label = document.querySelector(`label[for=${input.getAttribute('name')}]`);
                label.style.color = 'red';
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>

</html>