<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <base href="/">
    <link rel="stylesheet" href="/templates/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/liststyle.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/global.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/produto.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        label {
            color: black !important;
        }
        
        input {
            background-color: white !important;
            color: black !important;
        }
    </style>
</head>

<body>

    <div class="container-form">
        <div class="container-fluid" id="inventory">
            <div class="row">

                <div class="col-md-3">

                    <div class="card">
                        <center>
                            <img class="img-fluid" src="/img/combo1.png" width="150" alt="Card image cap">
                            <div class="card-body">

                                <button class="btn view-btn">Produto</button>

                            </div>
                        </center>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        $(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>

</body>

</html>