<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/produto.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/templates/css/global.css">
</head>
<body>
    <form class="container"  action="/cadastros/categoria" method="POST">
        <div class="container-form">
            <div class="informations">
                <header>Nova Categoria</header>
                <main>
                    <div class="row">
                        <fieldset class='float-label-field quarentaecinco'>
                            <label for="codigo">Código</label>
                            <input id="codigo" value="<%=codigo%>" class='campo-texto' required name="codigo" type='text'>
                        </fieldset>
                        <fieldset class='float-label-field' style="width:5% !important">
                            <label style="margin-bottom: 3%;" for="ativo">Ativo</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="ativo" class="onoffswitch-checkbox" id="myonoffswitch" value="true" tabindex="0" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </fieldset> 
                        <fieldset class='float-label-field' style="width:5% !important">
                            <label style="" for="pizza">É Pizza?</label>
                            <div class="onoffswitch">
                                <input type="checkbox" name="pizza" class="onoffswitch-checkbox" id="myonoffswitch1" value="false" tabindex="0">
                                <label class="onoffswitch-label" for="myonoffswitch1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </fieldset> 
                    </div>       
                    <div class="row">
                        <fieldset class='float-label-field setentaecinco'>
                            <label for="name">Nome</label>
                            <input id="name" class='campo-texto' required name="name" type='text'>
                        </fieldset> 
                    </div>   
                </main>
                <footer>
                    <button type="submit" onclick="getModel();" class="register">Registrar</button>
                </footer>
            </div>
        </div>
    </form>
    <script>

        // let fields = document.querySelectorAll('form fieldset.float-label-field');
        // for (let index = 0; index < fields.length; index++) {
        //     const field = fields[index];
        //     const input = field.querySelector('input');
        //     input.onfocus = ()=>{
        //         field.classList.add('float');
        //         field.classList.add('focus');
        //     };
        //     input.onblur = ()=>{
        //         field.classList.remove('focus');
        //         if (!input.value) {
        //             field.classList.remove('float');
        //         }
        //     };
        // }

        let checkeds = document.querySelectorAll('input[type=checkbox]');

        for (let index = 0; index < checkeds.length; index++) {
            const element = checkeds[index];
            console.log(element);
            element.onclick = function() {
                console.log(element);
                element.value = element.checked;
            };
        }

        function getModel(){
            let model = {};
            let inputs = document.querySelectorAll('input.campo-texto');
            addProprietie(inputs,model);
            let selects = document.querySelectorAll('select');
            addProprietie(selects,model);
            console.log(model);
        }
        function addProprietie(objetos,model) {
            for (let index = 0; index < objetos.length; index++) {
                const objeto = objetos[index];
                validate(objeto);
                model[objeto.getAttribute('name')] = objeto.value; 
            }
        }
        function validate(input){
            if (input.hasAttribute('required') && input.value == "") {
                input.style.borderColor='red';
                console.log(`label[for=${input.getAttribute('name')}]`);
                let label = document.querySelector(`label[for=${input.getAttribute('name')}]`);
                label.style.color='red';
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>