<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/templates/css/produto.css">
    <link rel="stylesheet" type="text/css" href="/templates/css/global.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <body>
        <script>
            $.ajax({
                    method: "GET",
                    url: "/list/produto",
                    data: {
                        ativo: true
                    }
                })
                .done(function(msg) {
                    console.log(msg);
                })
                .fail(function(jqXHR, textStatus, msg) {
                    alert(msg);
                });
        </script>
    </body>

</html>