@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
*,
*::before,
*::after {
    box-sizing: border-box !important;
}

.main {
    max-width: 1200px;
    margin: 0 auto !important;
}

h1 {
    font-size: 24px !important;
    font-weight: 400 !important;
    text-align: center !important;
}

img {
    height: auto !important;
    max-width: 100% !important;
    vertical-align: middle !important;
}

.btn {
    color: #ffffff !important;
    /* padding: 0.8rem; */
    font-size: 14px !important;
    text-transform: uppercase !important;
    border-radius: 4px !important;
    font-weight: 400 !important;
    display: block !important;
    width: 100% !important;
    cursor: pointer !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: transparent !important;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12) !important;
}

.cards {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: center !important;
}

.cards_item {
    display: flex !important;
    padding: 1rem !important;
    width: 100% !important;
    transition: 0.3s padding ease-out, 0.3s margin ease-out, 0.3s border ease-out;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50% !important;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333% !important;
    }
}

.card {
    background-color: transparent !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 20px 40px -14px rgba(0, 4, 89, 3) !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden !important;
    width: 100% !important;
    cursor: pointer;
}

.cards_item:hover {
    transition: 0.3s padding ease-in, 0.3s margin ease-in, 0.3s border ease-in;
    /* opacity: 0; */
    padding: 0 !important;
}

.card_btn:nth-child(n+2) {
    margin-top: 3px;
}

.card_content {
    height: 100%;
    padding: 1rem !important;
    background: linear-gradient(to bottom left, #000459 40%, #1118a6 100%) !important;
    /* background: #000459; */
}

.card_title {
    color: #ffffff !important;
    font-size: 1.1rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    padding: 0 !important;
    text-transform: capitalize !important;
    margin: 0px !important;
}

.card_text {
    color: #ffffff !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    margin-bottom: 1.25rem !important;
    font-weight: 400 !important;
}

.made_by {
    font-weight: 400 !important;
    font-size: 13px !important;
    margin-top: 35px !important;
    text-align: center !important;
}

dialog fieldset {
    border: none !important;
}

dialog label {
    color: black !important;
}

dialog input {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.active {
    border-radius: 0 !important;
}

body div.container1 {
    height: auto !important;
    min-height: 100vh !important;
    align-items: initial !important;
}

h1 {
    border: none !important;
    font-size: 1.7rem !important;
    margin-top: 1rem !important;
    background: transparent !important;
    color: #bfbfbb !important;
    padding: 0.2em 1em !important;
    border-radius: 3px !important;
    border-left: solid transparent 0px !important;
    font-weight: 100 !important;
    text-align: left !important;
}

.card_image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}