@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
:root {
    --cor-principal: #FFD700;
    --cor-secundaria: #FFFFFF;
    --cor-fundo: #222;
    --size-a4: 29.7cm;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #383838;
    -webkit-font-smoothing: antialiased;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    outline: 0;
}

div.impressao {
    width: 100%;
    /*min-height: 297mm;*/
    min-height: 96vh;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    /*margin: 10px 0;*/
}

div.left {
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

div.diver {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

table {
    border-collapse: collapse;
    margin-bottom: 2px;
}

div.float-rigth {
    display: none !important;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    /* background-color:#0C9; */
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px var(--cor-fundo);
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s linear 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.float-rigth img {
    width: 35px;
    height: 35px;
}

div.float-rigth:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

th,
td {
    text-align: left;
    border-bottom: 1px solid black;
    padding: 1px;
}

footer {
    text-align: center;
    font-size: 8pt;
    padding: 4px 2px;
}

.text-center {
    text-align: center;
}

@page {
    margin: 0cm;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
    }
    div.impressao {
        margin: 0;
        padding: 0;
    }
    div.float-rigth {
        display: none;
    }
}