:root {
    --color-primary: #282828;
    --color-secundary: #202225;
    --color-intermed: #36393f;
}

body form.container {
    width: 100%;
    height: 100vh;
    /* padding: 27% 0; */
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

form.long {
    height: auto !important;
    padding: 2% 0 !important;
}

ul.select2-selection__rendered li.select2-selection__choice {
    color: black;
}

body form.container div.container-form {
    width: 90%;
    min-height: 90%;
    background-color: var(--color-secundary);
    border-radius: 5px;
    box-shadow: 0px 0px 35px black;
    display: flex;
}

body form.container div.container-form div.informations {
    width: 100%;
}

body form.container div.container-form div.informations header {
    width: 100%;
    height: 10%;
    color: #fff;
    font-size: clamp(1em, 1em + 1vw, 1.8em);
    padding-top: 2%;
    padding-left: 4%;
}

body form.container div.container-form div.informations main {
    width: 100%;
    padding: 2% 3%;
    height: 80%;
}

body form.container div.container-form div.informations footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
}

body form.container div.container-form div.informations footer button {
    height: 50%;
    padding: 0 5%;
    font-size: 16px;
}

.register {
    background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color: #77b55a;
    border-radius: 3px;
    border: 1px solid #52a329;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #5b8a3c;
}

.register:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: #72b352;
}

.register:active {
    position: relative;
    top: 1px;
}

div.row {
    display: flex;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
}

.trinta {
    width: 30% !important;
}

.vinte {
    width: 20% !important;
}

.quarentaecinco {
    width: 45% !important;
}

.setentaecinco {
    width: 75% !important;
}

div.row>*+* {
    margin-left: 10px;
}

div.clean {
    width: 20%;
}

fieldset.float-label-field {
    width: 100%;
    display: grid;
    color: #fff;
    border: 0 solid black;
}

fieldset.float-label-field label {
    margin-bottom: 1%;
}

input[type=text] {
    min-height: 4.5vh;
    border: 1px solid #ccc!important;
    border-radius: 2px;
    padding-left: 4px;
}

select {
    min-height: 4.5vh;
}

.onoffswitch {
    position: relative;
    width: 58px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
    margin-bottom: 0 !important;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 17px;
    padding: 0;
    line-height: 17px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Sim";
    padding-left: 6px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Não";
    padding-right: 6px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 16px;
    margin: 0.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 37px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

div.wrapper {
    max-width: 100% !important;
    width: 90%;
    /* margin: 150px auto  !important; */
    /* background-color: blue  !important; */
}

div.wrapper div.search-input {
    position: relative;
    background-color: white !important;
    width: 100% !important;
    border-radius: 5px !important;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12) !important;
}

div.wrapper div.search-input input {
    height: 7vh !important;
    width: 100% !important;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

div.wrapper div.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

div.wrapper div.search-input div.autocom-box {
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background-color: white;
    width: 100%;
}

.search-input.active .autocom-box {
    padding: 0px 0px;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.search-input.active .autocom-box li {
    display: block !important;
}

div.wrapper div.search-input div.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    color: black;
    display: none;
}

div.wrapper div.search-input div.autocom-box li:hover {
    background-color: #efefef;
}