img {
    max-width: 100%;
    display: block;
}

body {
    background: #fff4c6;
    color: #bfbfbf;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

h1 {
    font-size: 1.7rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.2em 1em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
}

h2 {
    font-size: 1.1rem;
    margin-top: 1rem;
    background: #2f3136;
    color: #bfbfbb;
    padding: 0.4em 1.8em;
    border-radius: 3px;
    border-left: solid #4974a9 5px;
    font-weight: 100;
}

table {
    border-collapse: collapse;
}

label {
    line-height: 38px;
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}

p {
    margin: 0.5em 0;
}

#search {
    width: 20%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: bold;
}

.red {
    color: #F04747;
}

.green {
    color: #43B581;
}

.clear {
    clear: both;
}

.centered {
    text-align: center;
}

.select {
    width: 98px !important;
    padding: 0 !important;
}

.selected {
    background: #4974a9;
}

.status {
    width: 120px;
    padding-left: 8px;
}

.labelFix {
    line-height: 44px;
}

.clickable {
    cursor: pointer;
}

.settingName {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

#error {
    text-align: center;
    color: #fff;
    background: #af3535;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

#right {
    float: right;
}

#closeError {
    float: right;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
}

#copyright {
    font-size: 0.95em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}


/* ===== CHECKBOX ===== */


/* Customize the label (the container) */

.checkBoxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 32px;
}


/* Hide the browser's default checkbox */

.checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: #2F3136;
    border-radius: 4px;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkBoxContainer input:checked~.checkmark:after {
    display: block;
}

.checkBoxContainer .checkmark:after {
    left: 10px;
    top: 7px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ERROR */

.hide {
    display: none;
}

.show {
    display: block !important;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

hr {
    background: #3e4146;
}

a {
    color: #5281bb;
    text-decoration: none;
}

a:hover {
    color: #95b8e4;
}

ul {
    list-style: none;
}

ul li {
    float: none;
    display: inline;
}

ul li .a {
    margin: 0px 0 0 -38px;
}

li {
    margin: 4px 0;
    list-style: none;
    display: initial;
}

li ul {
    display: none;
    float: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: darkslategray;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* li:hover ul {
    display: block;
} */

ul li .a {
    margin: 0px 0 0 -38px;
}

li ul {
    display: none;
    position: absolute;
}


/* Meter */


/* Tables */

table {
    width: 100%;
    /* min-width: 400px; */
    margin-bottom: 2em;
}

td {
    word-break: break-all;
}

th {
    word-break: break-word;
}

th,
td {
    padding: 10px 6px;
    text-align: left;
    border-bottom: 1px solid #5d5d5d;
}


/* Navigation bar */

nav {
    display: block;
    padding: 8px 10px;
    background: #2f3136;
}

nav a {
    color: #bfbfbf;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background: #36393f;
    color: #cecece;
    border-radius: 4px;
}

.center {
    text-align: center;
}

.active {
    background: red;
    padding: 8px 0px;
    border-radius: 25%;
}


/**/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background: #2f3136;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    background: #42444a;
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    transform: scale(.93);
}

button:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"]:disabled:hover {
    background: white;
    cursor: not-allowed;
    opacity: 0.40;
    filter: alpha(opacity=40);
    transform: scale(1);
}

button::-moz-focus-inner {
    border: 0;
}


/* Forms */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #2f3136;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #d4d4d4;
    border: none;
    width: 5em;
}

input[type="text"] {
    width: 10em;
}

.setting {
    width: 100% !important;
    max-width: 284px !important;
}

input[type="file"] {
    display: none;
}


/* ==== GRID SYSTEM ==== */

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1140px; */
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.25rem 2%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 24em) {
    .col-1 {
        width: 4.33%;
    }
    .col-2 {
        width: 12.66%;
    }
    .col-3 {
        width: 21%;
    }
    .col-4 {
        width: 29.33%;
    }
    .col-5 {
        width: 37.66%;
    }
    .col-6 {
        width: 46%;
    }
    .col-7 {
        width: 54.33%;
    }
    .col-8 {
        width: 62.66%;
    }
    .col-9 {
        width: 71%;
    }
    .col-10 {
        width: 79.33%;
    }
    .col-11 {
        width: 87.66%;
    }
    .col-12 {
        width: 96%;
    }
    .hidden-sm {
        display: block;
    }
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: center;
}

.ribbon span {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #F62459;
    background: linear-gradient(#ff89b1 0%, #ff006e 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0%;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #F62459;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F62459;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #F62459;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #F62459;
}

#inventory .card:hover {
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}


/* .card-body {
    /* margin: 0 0px 0 30px; 

*/

#inventory .view-btn {
    background-color: #e6de08;
    border-radius: 100px !important;
    font-size: 14px;
    border: #e6de08;
    color: #000;
}

#inventory .btn:hover {
    background-color: #ff4444;
    color: #fff;
    border: 2px solid #ff4444;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

label[for="bt_menu"] {
    padding: 0%;
    background-color: #222;
    color: #fff;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 100%;
}

#bt_menu {
    display: none;
}

#bt_menu:checked~#right {
    float: none;
}

label[for="bt_menu"] {
    display: none;
}

@media only screen and (max-width:1200px) {
    label[for="bt_menu"] {
        display: block;
    }
    #bt_menu:checked~.menu {
        margin-left: 0;
    }
    .box_topo {
        display: none;
    }
    .menu {
        margin-top: 5px;
        margin-left: -160%;
        transition: all .4s;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        width: 100%;
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 500px;
    }
}

div.float-button {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: fixed;
    right: 2%;
    bottom: 7%;
    box-shadow: 1px 2px 8px black;
    cursor: pointer;
}

div.float-button span {
    font-size: 60pt;
    margin-top: 10%;
    margin-left: 3%;
}