body {
    font-family: 'Century Gothic', Courier, monospace !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: transparent;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000459;
    font-weight: bolder;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #000459;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    /* background-color: #444; */
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 10px;
    }
}

.dropdown-container {
    display: none;
    background-color: transparent;
    padding-left: 8px;
}

a.dropdown-btn.inicio {
    font-size: 20px;
    margin-left: -14px;
}

.sidenav a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #000459;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-transform: initial !important;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
}