<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produtos</title>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="/templates/css/liststyle.css">
        <link rel="stylesheet" type="text/css" href="/templates/css/global.css">
        <link rel="stylesheet" type="text/css" href="/templates/css/card.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>

        </style>
    </head>

    <body>
        <table>
            <thead>
                <th>Código</th>
                <th>Descrição</th>
                <th>Saldo Atual</th>
                <th>Quantidade Adicionar</th>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </body>
</html>